<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 sidebar" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Code Maki</h1>
          <h2><i>Aprendendo na Prática</i></h2>
        </div>
          <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#menu-links-interno">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand hidden-md-up" href="#">menu</a>
              <div class="navbar-collapse collapse" id="menu-links-interno">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="#sobre-mim">Sobre</a>
                  <a class="nav-item nav-link" href="#artigos">Artigos</a>
                  <a class="nav-item nav-link" href="#contatos">Contatos</a>
                </div>
              </div>
          </nav>
      </header>
    </div>
    <div class="col-md-8 offset-md-4" id="conteudo">
      <article id="sobre-mim" class="row">
        <div class="col-md-12">
          <h1>Sobre mim</h1>
          <div>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies lacus vitae porta congue. Nunc rhoncus lacus tellus, sed condimentum nibh convallis vitae. Vivamus neque urna, tempor sed enim et, cursus rutrum augue. Suspendisse a lacinia diam. Nulla aliquet nulla a vehicula finibus. Sed mattis eleifend arcu ut commodo. Etiam ut consequat mi.
          </div>
        </div>
      </article>
      <section id="artigos" class="row">
        <div class="col-md-6">
           <div class="p-3"></div>
            <article class="card artigo">
              <div class="card-block">
                <h2 class="card-title">Artigo 1</h2>
                <p class="card-text"> Nulla sed enim vel metus elementum hendrerit ac eu justo. Ut sed nunc scelerisque, volutpat justo ac, interdum ex. Nunc porta sit amet ligula eget dapibus. Aenean maximus sit amet odio nec scelerisque. Pellentesque vitae purus eget arcu consectetur ornare. Mauris mollis condimentum tellus, ut egestas lacus bibendum eu. Duis ornare ornare lectus non
                </p>
                <button class="btn btn-primary">ler mais</button>
              </div>
            </article>
        </div>
        <div class="col-md-6">
            <div class="p-3"></div>
          <article class="card artigo">
            <div class="card-block">
              <h2 class="card-title">Artigo 2</h2>
              <p class="card-text"> aSuspendisse laoreet elementum urna, in mollis odio maximus quis. Curabitur at massa purus. Cras felis lacus, hendrerit id feugiat sit amet, consectetur eleifend nunc. Ut cursus pharetra ante non iaculis. Maecenas nec est justo. Vestibulum nisi nunc, imperdiet ut pharetra eu, viverra vel ante. Donec hendrerit dui a tortor vestibulum rhoncus. 
              </p>
              <button class="btn btn-primary">ler mais</button>
            </div>
          </article>
        </div>  
      </section>
      <app-contato></app-contato>
    </div>
  </div>
</div>


