<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 sidebar" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Code Maki</h1>
          <h2><i>Aprendendo na Prática</i></h2>
        </div>
          <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#menu-links-interno">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand hidden-md-up" href="#">menu</a>
              <div class="navbar-collapse collapse" id="menu-links-interno">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="#sobre-mim">Sobre</a>
                  <a class="nav-item nav-link" href="#artigos">Artigos</a>
                  <a class="nav-item nav-link" href="#contatos">Contatos</a>
                </div>
              </div>
          </nav>
      </header>
    </div>
    
  </div>
</div>